html { font-family: sans-serif; background: #FDC39A; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white; border-radius: 10px;}
title {font-family: 'arial'; margin-left: 15px; }
h1 { font-family: 'arial'; color: #2A4664; margin: 1rem 0; }
h2 { font-family: 'arial'; color: #333333; margin: 1rem 0 0 0;}
a { color: #ffffff; margin:0.5rem 1rem 0.5rem 0.5rem;}
hr { border: none; border-top: 1px solid lightgray; }
nav { background: #2A4664; display: flex; align-items: center; padding: 0 0.5rem; border-radius: 10px 10px 0px 0px;}
nav h1 { flex: auto; color: white; margin: 1rem 1rem; letter-spacing: 1px;}
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action {display: block; text-decoration: none; letter-spacing: 1px; font-weight: bold;
    border: 1px solid #2A4664; border-radius: 20px; padding: 0.1em 0.5em;}
.post_btn {display: block; text-decoration: none; letter-spacing: 1px; color: #fff; background-color: #2A4664;
    border: 1px solid #2A4664; opacity: 0.99;border-radius: 20px; padding: 0.1em 0.7em; margin-right: 5px;}
.action { display: block; padding: 0.5rem; letter-spacing: 1px; color: #2A4664;}
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-size: 10px; }
.post .body { white-space: pre-line; }
.post .tag {font-size: 12px; display: inline-block; border: solid 1px #4c4c4c; border-radius: 5px; padding: 0px 2px; margin-right: 5px;}
.post .tag_f {font-size: 12px; display: inline-block; border: solid 1px #4c4c4c; border-radius: 5px; padding: 0px 8px; margin-right: 5px;}
.post .tags {font-size: 14px; font-weight: bold;}
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; background-color: white; border: solid 1px #333333; font-weight: normal; color: #333333; margin-top: 10px; border-radius: 6px;}